@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,800;0,900;1,100&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* === === === Navbar === === === */
.navbar{
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}
.navbar .logo{
    text-align: right;
}
.navbar .logo img{
    width: 60px;
    /* height: 60px; */
}

.navbar .menu{
    grid-column: 3 / 7;
    display: flex;
    justify-content: space-around;
}
.navbar .menu a{
    text-decoration: none;
    color: #181818;
    cursor: pointer;
}
.navbar .menu a:hover{
    color: #FFF;
}
/* Menu bar */
.navbar .menu-bar{
    display: none;
}
.navbar .shoping{
    grid-column: 8 / 9;
    font-size: 1.8em;
    cursor: pointer;
}

/* === === === Main - Hero === === === */
.hero{
    height: 86vh;
    background-image: linear-gradient(rgba( 16, 16, 16, .5 ), rgba( 16, 16, 16, .7 )), url('../img/bg-eminem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.hero .contenedor-info{
    grid-column: 7 / 10;
    grid-row: 3 / 7;
    color: #FFF;
}
.hero h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}
.hero h1{
    font-size: 5em;
    color: #EDCB54;
    font-weight: 900;
}
.hero p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.hero .btn{
    font-size: 1em;
    background: none;
    color: #FFF;
    padding: 10px 25px;
    border: 1px solid #EDCB54;
    border-radius: 30px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}
.hero .btn:hover{
    background-color: #EDCB54;
    color: #181818;
}
.hero .btn:active{
    background-color: #d3ae27;
}

/* === === === Footer === === === */

.footer{
    display: grid;
    height: 85px;
    align-items: center;
    background-color: #181818;
    color: #FFF;

    grid-template-areas: "listen-online follow-me social-media";
}
.footer .listen-online{
    grid-template-areas: listen-online;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDCB54;
    color: #181818;
    height: 100%;
}
.footer .listen-online i{
    font-size: 1.5em;
    margin-right: 15px;
}
.footer .follow-me{
    grid-template-areas: follow-me;
    text-align: center;
}
.footer .social-media{
    grid-template-areas: social-media;
    display: flex;
    justify-content: space-evenly;
}
.footer .social-media i{
    font-size: 1.5em;
    color: #EDCB54;
    cursor: pointer;
}
.footer .social-media i:hover{
    color: #FFF;
}