*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* === === HEADER === === */
header{
    height: 70vh;
    background:linear-gradient( rgba(0, 0, 0,.50), rgba(0, 0, 0, .50) ), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
header .contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
}
header .barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header .barra-navegacion .titulo{
    color: #FFF;
    font-size: 2em;
}
header .barra-navegacion .menu a{
    text-decoration: none;
    color: #FFF;
    font-size: 1em;
    margin: 0 15px;
    padding-bottom: 9px;
    border-bottom: 2px solid transparent;
}
header .barra-navegacion .menu a:hover,
header .barra-navegacion .menu a.active{
    border-bottom: 2px solid #FFF;
}

header .contenedor-texto{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .contenedor-texto .texto{
    border: 2px solid rgba(255, 255, 255, .50);
    border-radius: 3px;
    padding: 20px 80px;
    text-align: center;
    color: #FFF;
}

header .contenedor-texto .texto .nombre,
header .contenedor-texto .texto .cargo{
    margin: 10px 0;
}

header .contenedor-texto .texto .nombre{
    font-size: 2.5em;
    font-weight: 700;
}
header .contenedor-texto .texto .cargo{
    font-size: 1.5em;
    font-weight: 400;
}
/* === === ACERCA DE === === */
.acerca-de{
    text-align: center;
}
.acerca-de .contenedor{
    overflow: visible;
}
.acerca-de .foto{
    width: 155px;
    height: 155px;
    margin: 0 auto;
    margin-top: -60px;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, .9);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.acerca-de .foto img{
    width: 120%;
    height: 120%;
}

.acerca-de .texto{
    width: 80%;
    margin: 40px auto 60px auto;
    line-height: 25px;
}

.acerca-de .texto .titulo{
    font-weight: 600;
    font-size: 1.5em;
    color: #DD820D;
    margin-bottom: 40px;
}
.acerca-de .texto p{
    font-weight: 400;
    font-size: 1em;
    color: #5A5A5A;
}
.acerca-de .texto .bold{
    font-style:oblique;
    color: #018D63;
}

/* === === HABILIDADES === === */
.habilidades{
    background: #F2F2F2;
    padding: 60px 0;
}
.habilidades .titulo{
    font-weight: 600;
    font-size: 1.5em;
    color: #323068;
    margin-bottom: 40px;
    text-align: center;
}
.habilidades .contenedor-habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.habilidades .contenedor-habilidades .habilidad{
    width: 23%;
    margin-bottom: 40px;
    background: #FFF;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.habilidades .contenedor-habilidades .habilidad .icono{
    background: #444;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transition: .5s ease all;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #BBB;
}
.habilidades .contenedor-habilidades .habilidad .icono:hover{
    background: #000;
    color: #FFF; 
}
.habilidades .contenedor-habilidades .habilidad .icono i{
    font-size: 2.5em;
}
.habilidades .contenedor-habilidades .habilidad .nombre{
    margin-top: 20px;
    margin-bottom: 0; 
    font-weight: 600;
    color: #5A5A5A;
}

/* === === TRABAJOS === === */
.trabajos{
    padding: 60px 0;
}
.trabajos .titulo{
    font-weight: 600;
    font-size: 1.5em;
    color: #323068;
    margin-bottom: 40px;
    text-align: center;
}
.trabajos .contenedor-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trabajos .contenedor-trabajos .trabajo{
    width: 23%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.trabajos .contenedor-trabajos .trabajo img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}
.trabajos .contenedor-trabajos .trabajo h4{
    font-weight: 700;
    color: #018D63;
    margin: 15px 0 10px 0;
}
.trabajos .contenedor-trabajos .trabajo p{
    font-size: 14px;
    color: #636363;
    margin: 10px 0;
}

/* === === TRABAJOS === === */
.posts{
    padding: 60px 0;
    background: #F2F2F2;
}
.posts .titulo{
    font-weight: 600;
    font-size: 1.5em;
    color: #323068;
    margin-bottom: 40px;
    text-align: center;
}
.posts .contenedor-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.posts .contenedor-posts .post{
    width: 31%;
    overflow: hidden;
    /* background-color: #FFF; */
    margin-bottom: 40px;
    box-shadow: 0 3px 3px 0 #c9c9c9;

}
.posts .contenedor-posts .post .foto{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.posts .contenedor-posts .post .foto img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px 3px 0 0px;
}
.posts .contenedor-posts .post .descripcion{
    padding: 20px;
    background-color: #FFF; 
    /* box-shadow: 0 3px 3px 0 #c9c9c9; */

}
.posts .contenedor-posts .post .descripcion .desc-body{
    border-bottom: solid 1px #c9c9c9;
}   
.posts .contenedor-posts .post .descripcion .desc-body .titulo-post{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    color: #30684c;
}

.posts .contenedor-posts .post .descripcion .desc-body .data{
    display: flex;
    justify-content: left;
    padding-left: 0;

    margin-top: 0;
    margin-bottom: 20px;


}
.posts .contenedor-posts .post .descripcion .desc-body li{
    list-style: none;
    font-size: .8em;
    color: #797979;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 10px;
}

.posts .contenedor-posts .post .descripcion .desc-body .resumen{
    margin-top: 0;
    margin-bottom: 20px;

    line-height: 1.5em;
    text-align: left;
    font-size: 1em;
    color: #636363;
}
.posts .contenedor-posts .post .descripcion .desc-footer{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.posts .contenedor-posts .post .descripcion .desc-footer a{
    text-decoration: none;
    font-weight: 300;
    color: #797979;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;
}
.posts .contenedor-posts .post .descripcion .desc-footer a:hover{
    color: #000000;
}

/* === === CONTACTO === === */

footer .contacto{
    padding: 60px 0;
}

.contacto .titulo{
    font-weight: 600;
    font-size: 1.5em;
    color: #323068;
    margin-bottom: 40px;
    text-align: center;
}
.contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contacto .formulario input[type='text'],
.contacto .formulario input[type='email']{
    width: 49%;
}
.contacto .formulario textarea{
    width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 150px;
    max-height: 200px;
}
.contacto .formulario input[type='text'],
.contacto .formulario input[type='email'],
.contacto .formulario textarea{
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #A4A4A4;
    outline:none;
    margin-bottom: 20px;
}
.contacto .formulario input[type='text']:focus,
.contacto .formulario input[type='email']:focus,
.contacto .formulario textarea:focus{
    border: solid 2px #007239;
}

.contacto .formulario .btn-enviar{
    margin: 0 auto;
    border: none;
    background: #30684C;
    color: #FFF;
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 3px;
    cursor: pointer;
}
.contacto .formulario .btn-enviar:hover{
    background: #007239;
    /* color: #30684C; */
    /* border: solid 2px #30684C; */
}

/* === === REDES SOCIALES === === */
.redes-sociales {
    padding: 60px 0;
    background: #0d2734;
}
.redes-sociales .contenedor{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.redes-sociales a{
    display: block;
    width: 70px;
    height: 70px;
    color: #FFF;
    text-decoration: none;
    border-radius: 100%;
    font-size: 1.5em;
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociales .facebook:hover{
    background: #3b5998;
}
.redes-sociales .twitter:hover{
    background: #1da1f2;
}
.redes-sociales .instagram:hover{
    background: #c13584;
}
.redes-sociales .linkedin:hover{
    background: #0077b5;
}
.redes-sociales .github:hover{
    background: #333;
}

/* === === COPYRIGHT === === */
footer .copyright{
    background: #0d2734;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ebebeb;
    font-size: .9em;
    font-weight: 300;
    padding: 5px;
    border-top: solid 1px rgba(255, 255, 255, .20);
}

/* === === === MEDIA QUERIES === === === */
/* === === === === ===== === === === === */ 

@media screen and (max-width: 800px){
    header .barra-navegacion{
        flex-direction: column;
        justify-content: center;
    }
    header .barra-navegacion .titulo{
        padding: 10px 0;
    }
    header .barra-navegacion .menu a{
        margin: 0 30px;
    }
    .habilidades .contenedor-habilidades .habilidad{
        width: 30%;
    }
    .trabajos .contenedor-trabajos .trabajo{
        width: 46%;
    }
    .posts .contenedor-posts .post{
        width: 46%;
    }
    .posts .contenedor-posts .post .foto{
        height: auto;
    }
}