/*
GRADIENTE:
https://mycolor.space/gradient?ori=to+right+top&hex=%232F6FB0&hex2=%234075AA&sub=1

COLORES:
https://colorhunt.co/palette/225760

01: #dddddd
02: #222831
03: #30475e
04: #f05454
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* ********** Componentes ************ */
.boton-primario{
    border: none;
    background: #f05454;
    padding: 15px 25px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    color: #FFF;
    outline: none;
    cursor: pointer;
}
.boton-primario:hover{
    background: #db4646;
}
.nueva-seccion{
    padding: 100px 0;
    width: 100%;
}
.titulo-seccion{
    text-align: center;
    font-size: 3.5em;
    /* margin: 40px 0; */
    margin-bottom: 60px;
    margin-top: 0;
    color: #222831;
}


header{
    height: 100vh;
    background:linear-gradient( rgba(34, 40, 49, .5), rgba(34, 40, 49, .5) ), url('./img/bg-01.jpg');
    background-position: center;
    background-size: cover;
}
header .container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header .barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
header .barra-navegacion h2{
    font-size: 2em;
    color: #dddddd;
}
header .barra-navegacion ul{
    display: flex;
}
header .barra-navegacion ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px 0;
    border-bottom: solid 2px transparent;
}
header .barra-navegacion ul li:hover{
    border-bottom: solid 2px #dddddd;
}
header .barra-navegacion ul li a{
    text-decoration: none;
    color: #dddddd;
    font-size: 1.2em;
}
header .contenedor-titular{
    color: #dddddd;
    height: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
}
header .contenedor-titular .titular{
    text-align: center;
}
header .contenedor-titular .titular .nombre{
    font-weight: 600;
    font-size: 4.5em;
}
header .contenedor-titular .titular .ocupacion{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 15px;
  
}

/* ********** Sobre mi *********** */
.sobre-mi .contenedor-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.sobre-mi .contenedor-info .foto{
    width: 45%;
    border-bottom: solid 1px #222831;
    padding: 0 20px;
    overflow: hidden;
}
.sobre-mi .contenedor-info .foto img{
    width: 100%;
}
.sobre-mi .contenedor-info .info{
    text-align: left;
    width: 50%;
}
.sobre-mi .contenedor-info .texto{
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 30px;
}
.sobre-mi .contenedor-info .texto p{
    margin-bottom: 10px;
}
.sobre-mi .contenedor-info .texto span{
    font-weight: 600;
}

/* ********** Servicios *********** */
.servicios .container .contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.servicios .container .contenedor-servicios .servicio{
    width: 32%;
    margin-bottom: 40px;
    border-radius: 3px;
    padding: 30px;
    color: #dddddd;
    /* background-image: linear-gradient(to right top, #2f6fb0, #3371af, #3872ad, #3c74ac, #4075aa); */
    background: #30475E;
    overflow: hidden;
}
.servicios .container .contenedor-servicios .servicio h4{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.servicios .container .contenedor-servicios .servicio p{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 10px;

    height: 250px;
}
.servicios .container .contenedor-servicios .servicio .icono{
    width: 3.5em;
    height: 3.5em;
    background: #FFF;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.servicios .container .contenedor-servicios .servicio .icono i{
    font-size: 1.5em;
    /* color: #4075AA; */
    color: #30475E;
}
/* ********** Trabajos *********** */
.trabajos .contenedor-trabajos .trabajo{
    width: 95%;
}
.owl-dots .owl-dot{
    outline: none;
}


/* ********** Ventajas *********** */
.ventajas{
    background: #F9FAFC;

}
.ventajas .contenedor-ventajas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ventajas .contenedor-ventajas .ventaja{
    width: 32%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 40px;
}
.ventajas .contenedor-ventajas .ventaja .icono{
    margin: 10px 0;
    font-size: 3em;
    color: #222831;
}
.ventajas .contenedor-ventajas .ventaja h4{
    font-size: 1.2em;
    color: #222831;
    margin: 10px 0;
}
.ventajas .contenedor-ventajas .ventaja .desc{
    color: #222831;
    font-size: 1.1em;
}

/* ********** Blog *********** */
.blog{
    /* background: #F9FAFC; */
}
.blog .contenedor-articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
}
.blog .contenedor-articulos .articulo{
    width: 30%;
    box-shadow: 0 3px 3px 0 #c9c9c9;
}
.blog .contenedor-articulos .articulo .foto{
    width: 100%;
    overflow: hidden;
}
.blog .contenedor-articulos .articulo .foto img{
    width: 100%;
}
.blog .contenedor-articulos .articulo .articulo-desc{
    padding: 10px;
}
.blog .contenedor-articulos .articulo .articulo-desc h4{
    margin-bottom: 10px;
    font-size: 1.3em;
    color: #222831;
    font-weight: 500;
}
.blog .contenedor-articulos .articulo .articulo-desc p{
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    line-height: 1.5em;
    margin-bottom: 10px;
    height: 120px;
}
/* ********** Contacto *********** */
.contacto{
    background: #F9FAFC;
}
.contacto .titulo-seccion{
    color: #222831;    
}
.contacto .formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea{
    outline: none;
    border: none;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: 'Jost', sans-serif;
    border-radius: 3px;
}
.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"]{
    width: 49%;
}
.contacto .formulario textarea{
    min-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 200px;
    max-height: 300px;
}
.contacto .formulario .boton-primario{
    margin: 0 auto;
    padding: 15px 40px;
    font-size: 1.2em;
}

/* ********** Icono Whatsapp  *********** */
main .whatsapp{
    position: fixed;
    top: 85%;
    right: 5%;
    
    text-align: center;
}
main .whatsapp a{
    text-decoration: none;
    color: #00B300;
    font-weight: 600;
}
main .whatsapp a img{
    width: 60px;
}


/* ********** Footer *********** */
footer{
    background: #222831;
    padding-top: 100px;
}

footer .social-media{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
footer .social-media a{
    width: 50px;
    height: 50px;
    background: #DDD;
    padding: 20px;
    margin: 0 10px;
    border-radius: 100%;
    text-decoration: none;
    color: #222831;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media .facebook:hover{
    background: #3b5998;
    color: #FFF;
}
footer .social-media .twitter:hover{
    background: #1da1f2;
    color: #FFF;
}
footer .social-media .instagram:hover{
    background: #c13584;
    color: #FFF;
}
footer .social-media .linkedin:hover{
    background: #0077b5;
    color: #FFF;
}
footer .social-media .github:hover{
    background: #333;
    color: #FFF;
}

footer .copyright{
    font-weight: 300;
    color: #DDD;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;

    border-top: solid 1px rgba(221, 221, 221, .3);
}


@media screen and (max-width: 950px){
    header .barra-navegacion{
        flex-direction: column;
    }
    header .barra-navegacion h2{
        /* padding: 15px 0; */
        font-weight: 900;
        font-size: 2.5em;
    }
    .servicios .container .contenedor-servicios .servicio p{
        height: auto;
    }
    .blog .contenedor-articulos .articulo .articulo-desc p{
        height: 170px;
    }
}
@media (max-width:768px){
    .servicios .container .contenedor-servicios .servicio{
        width: 46%;
    }
    .ventajas .titulo-seccion{
        font-size: 50px;
    }
    .ventajas .contenedor-ventajas .ventaja{
        width: 32%;
        padding: 0 8px;
    }
    .blog .contenedor-articulos .articulo{
        width: 46%;
        margin-bottom: 40px;
    }
    .blog .contenedor-articulos .articulo .articulo-desc p{
        height: auto;
    }
    .contacto .titulo-seccion{
        font-size: 45px;
        line-height: 60px;
    }
    main .whatsapp a img{
        width: 40px;
    }
    footer .copyright{
        font-size: 14px;
    }
}
@media (max-width:480px){
    .nueva-seccion{
        padding: 40px 0;
    }
    .titulo-seccion{
        font-size: 2.5em;
    }
    header{
        width: 100%;
        text-align: center;
    }
    header .container{
        width: 100%;
    }
    header .barra-navegacion{
        display: block;
        width: 100%;
    }
    header .barra-navegacion h2{
        margin-bottom: 20px;
        font-size: 35px;
    }
    header .barra-navegacion ul{
        flex-direction: column;
        padding: 0 40px;
        /* background-color: #222831; */
    }
    header .barra-navegacion ul li{
        display: block;
        width: 100%;
        margin-bottom: 10px;

    }
    header .barra-navegacion ul li a{
        display: block;
        width: 100%;
    }
    header .contenedor-titular{
        height: 30%;
    }
    header .contenedor-titular .titular .nombre{
        font-size: 3em;
    }
    header .contenedor-titular .titular .ocupacion{
        font-size: 1.5em;
    }

    .sobre-mi .contenedor-info{
        flex-direction: column;
    }
    .sobre-mi .contenedor-info .foto{
        margin-bottom: 30px;
    }
    .sobre-mi .contenedor-info .foto,
    .sobre-mi .contenedor-info .info{
        width: 100%;
    }
    .sobre-mi .contenedor-info .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .servicios .container .contenedor-servicios .servicio{
        width: 100%;
    }
    .ventajas .contenedor-ventajas .ventaja{
        width: 100%;
    }
    .blog .contenedor-articulos .articulo{
        width: 100%;
    }
    .contacto .formulario input[type="text"],
    .contacto .formulario input[type="email"],
    .contacto .formulario textarea{
        width: 100%;
    }
    .contacto .titulo-seccion,
    .ventajas .titulo-seccion{
        font-size: 2.2em;
        line-height: 45px;
    }
}