:root{
    --rojo: #E50914;
    --fondo: #141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
}


/*=========================================== 
============ Barra de Navegación ============ */
header{
    padding: 30px 0;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 40px;
    color: var(--rojo);
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}
header nav a:hover,
header nav a.active{
    color: #fff;
}


/*=========================================== 
============ Película principal ============ */
.pelicula-principal{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    /* fondo */
    background: linear-gradient( rgba(0, 0, 0,.50), rgba(0, 0, 0, .50) ), url('../img/bg-01.jpg');
    background-position: center center;
    background-size: cover;
    /* Contenido */
    display: flex;
    align-items: flex-end;
    
    margin-bottom: 3.12em;
}
.pelicula-principal .contenedor{
    margin: 0 auto;
    padding-bottom: 7em;
}
.pelicula-principal .titulo{
    font-size: 3.12em;
    font-weight: 600;
    margin-bottom: 0.4em;
}
.pelicula-principal .descripcion{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.75em;
    max-width: 80%;

    margin-bottom: 1.25em;
}
.pelicula-principal .boton{
    border: none;
    background: rgba(0, 0, 0, .50);
    padding: 0.93em 1.87em;
    border-radius: 0.31em;
    color: #FFF;
    font-size: 1.12em;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
}
.pelicula-principal .boton i{
    margin-right: .5em;
}
.pelicula-principal .boton:hover{
    background: #FFF;
    color: #000;
}

/*=========================================== 
============ Peliculas Recomendadas ============ */

/* Titulo - Indicadores */
.peliculas-recomendadas .contenedor-titulo-ctrls{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.peliculas-recomendadas .contenedor-titulo-ctrls h3{
    color: #FFF;
    font-size: 30px;
}
.peliculas-recomendadas .contenedor-titulo-ctrls .indicadores button{
    color: #FFF;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.peliculas-recomendadas .contenedor-titulo-ctrls .indicadores button:hover,
.peliculas-recomendadas .contenedor-titulo-ctrls .indicadores button.active{
    background: crimson;
}

/* Peliculas*/
.peliculas-recomendadas{
    margin-bottom: 70px;
}
.peliculas-recomendadas .contenedor-peliculas{
    display: flex;
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-peliculas .flecha-izquierda,
.peliculas-recomendadas .contenedor-peliculas .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, .0);
    width: 50px;
    height: 50%;
    font-size: 40px;
    top: calc(50% -25%);
    line-height: 40px;
    color: #FFF;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
    outline:none; /*Quitar el recuadro cuando le damos click*/
}
.peliculas-recomendadas .contenedor-peliculas .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-peliculas .flecha-derecha:hover{
    /* background: rgba(0, 0, 0, .90); */
    font-size: 55px;
}
.peliculas-recomendadas .contenedor-peliculas .flecha-izquierda{
    left: 0;
}
.peliculas-recomendadas .contenedor-peliculas .flecha-derecha{
    right: 0;
}

/* Carousel */
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .30);
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover{
    transform: scale(1.2);
    transform-origin: center;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}












/*=========================================== 
============ Media Queries ============ */
@media screen and ( max-width: 800px ){
    header .contenedor{
        flex-direction: column;
        text-align: center;
    }
    header .logo{
        margin-bottom: 10px;
        font-size: 35px;
    }
    .pelicula-principal{
        font-size: 14px;
    }
    .pelicula-principal .descripcion{
        max-width: 100%;
    }

    /* Carousel */
    .peliculas-recomendadas .contenedor-carousel{
        overflow: visible;    
    }
    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .peliculas-recomendadas .contenedor-titulo-ctrls .indicadores,
    .peliculas-recomendadas .contenedor-peliculas .flecha-izquierda,
    .peliculas-recomendadas .contenedor-peliculas .flecha-derecha{
        display: none;
    }
}